
.our-work-portfolio{
  padding: 80px 0;
}

.our-work-portfolio h2{
  font-size: 50px;
  font-family: "Corbert";
  color: #000;
  padding: 40px 0;
}

.our-work-portfolio-custom-container{
  width: 100%;
  margin: 0;
  padding: 0;
}

.our-work-portfolio-custom-row{
  display: flex;
  width: 100%;
}



.our-work-portfolio-custom-col {
  flex: 1; /* equal width columns */
  width: 50%;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .our-work-portfolio-custom-row {
    flex-direction: column;
  }
  .our-work-portfolio-custom-col {
    width: 100%;
  }
}


.book-wrapper{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

HTMLFlipBook{
  height: 100%;
  width: 100%;
}