.uper-links {
  padding: 10px 0;
  font-size: 16px;
  font-family: Corbert;
  color: #000;
}

.branding-hero {
  padding-top: 70px;
}

.talk-to-us-div {
  display: flex;
  justify-content: end;
  padding: 20px 0;
}

@media (max-width: 767px) {
  .talk-to-us-div {
    justify-content: start;
  }
}

.talk-to-us {
  background-color: #ca2734;
  font-family: "Roboto", Sans-serif;
  border-radius: 100px 100px 100px 100px;
  padding: 15px 25px 10px 25px;
  color: #fff;
  border: none;
}

.talk-to-us::after {
  content: "\2192";
  padding-left: 10px;
  font-weight: 300;
}

.branding-hero h1 {
  font-size: 62px;
  color: #000;
  font-family: Corbert;
  font-weight: 700;
  padding: 20px 0 0 0;
}

.branding-hero h3 {
  font-size: 35px;
  color: #000;
  font-family: Corbert;
  font-weight: 500;
}

.branding-hero p {
  margin-top: 30px;
  color: #000000;
  line-height: 1.7em;
  font-size: 20px;
  font-family: Roboto;
}

/* Our Portfolio */

.port-row {
  padding: 15px 0;
}

.port-div {
  border: 1px solid #a8a8a8;
  padding: 0;
  border-radius: 12px;
}

.port-div img {
  margin: 0;
  padding: 0;
  border-radius: 12px 12px 0 0;
}

.portfolio {
  padding: 90px 0;
}

.portfolio h2 {
  color: #000000;
  font-family: "Corbert", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.every-pr {
  color: #ca2734;
}

.potfolio-div-btns {
  display: flex;
  justify-content: space-between;
}

.our-port-btn {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ca2734;
  border-radius: 6px 6px 6px 6px;
  padding: 10px;
}

.our-port-btn-up {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.our-port-btn-up button {
  font-family: Corbert;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ca2734;
  border-radius: 6px 6px 6px 6px;
  font-size: 18px;
}

.port-content {
  padding: 20px;
}
.port-div-headg h3 {
  color: #ca2734;
  font-family: "Corbert", Sans-serif;
  font-size: 32px;
}

.port-content p {
  color: #888888;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .our-port-btn-up button {
    font-size: 14px;
  }

  .port-div-headg h3 {
    font-size: 24px;
  }
  .our-port-btn {
    padding: 5px;
  }
  .port-content {
    padding: 15px;
  }
  .potfolio-div-btns {
    flex-direction: column;
  }

  .port-div {
    margin: 10px 0;
  }
}

/* branding-that */

.branding-that {
  padding: 80px 0;
}

.branding-that h2 {
  color: #000000;
  font-family: "Corbert", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.branding-that-div{
    position: relative;
    margin: 20px;
    border-radius: 40px;
    
}

.branding-that-div img{
    border-radius: 40px;
}



.brand-that-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  border-radius: 40px;
  
  
}

.our-brand-that-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 50px;
  bottom: 30px;
  padding: 40px;
}

.our-brand-that-content h3 {
  color: rgb(255, 255, 255);
  font-family: Corbert, sans-serif;
  font-size: 70px;
  font-weight: 700;
}

.brand-that-buttons {
  display: flex;
  gap: 20px;
}

.brand-that-buttons button {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-radius: 100px;
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  background: transparent;
  flex: 1 1 0;
  max-width: 200px;
  margin: 5px;
}

.our-brand-that-content p {
  color: rgb(255, 255, 255);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  margin-top: 10px;
}

.our-brand-that-heading {
  font-size: 50px;
  font-family: Corbert, sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
}





.slide {
  width: 100vw;
  height: 100vh; 
  flex-shrink: 0;
}

.scroll-slide {
    width: 100vw; 
    flex-shrink: 0; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-scroll-area {
    padding-top: 50px; 
    padding-bottom: 50px;
    height: 90%;
}

.horizontal-scroll-container {
    height: 100vh; 
    overflow: hidden;
}

.track {
  display: flex;
  width: 200vw; 
  height: 90%;
   flex-wrap: nowrap;
   margin-top: 40px;
}

/*  branding identity  */

.branding-identity{
  padding: 80px 0;
}
.branding-identity h2{
   color: #000000;
  font-family: "Corbert", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
}

.identity-div{
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   padding: 10px;
   border-radius: 10px;
}

.identity-div img{
  border-radius: 20px;
}

identity-div-content{
  padding: 20px;
}

.identity-div-content h3{
      color: #000000;
    font-family: "Corbert", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 10px;
}

.identity-div-content p{
  color: #888888;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    padding: 5px 10px;
}


/* marque */

.marque-sec{
  padding: 80px 0;
}

.noun-mar{
          vertical-align: middle;
        font-family: Corbert;
        font-weight: 700;
        font-size: 150px;
        padding: 40px 0px 40px 0px;
}



/* creating-your-brand */
.creating-your-brand{
  padding: 50px 0;
}

#card1-create {
  --index: 1;
  top: 170px;
  margin-top: 20px;
}
#card2-create {
  --index: 2;
  top: 220px;
  margin-top: 20px;
}
#card3-create {
  --index: 3;
  top: 270px;
  margin-top: 20px;
}
#card4-create {
  --index: 4;
  top: 320px;
  margin-top: 20px;
}


#card5-create {
  --index: 5;
  top: 370px;
  margin-top: 20px;
}

.card-create {
  position: sticky;
  top: 50%;
  border: none;
  border-radius: 40px;
  margin-top: 100px;
  list-style: none;
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

#cards-create {
  margin-top: 50px;
}

.card-body-create {
  box-sizing: border-box;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding: 0;
  position: relative;  
}

.our-brand-heading-a {
  position: sticky;
  top: 0;
  padding: 30px 0;
  text-align: center;
  color: #000000;
  font-family: "Corbert", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2em;
  padding-bottom: 20px;
  
}

.sticky-con{
  position: sticky;
  top: 0;
}


.card-body-create{
  padding: 20px;
}

.create-number{
  color: #CA2734;
    font-family: "corbert bold", Sans-serif;
    font-size: 85px;
    font-weight: 700;
}

.card-body-create h2{
      color: #000000;
    font-family: "corbert bold", Sans-serif;
    font-size: 38px;
    font-weight: 700;
}

.card-body-create p{
      color: #888888;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 1.4em;
}


/* faqs */
.faqs {
  padding: 80px 0;
}

.faqs h2 {
  font-size: 56px;
  font-family: Corbert;
  font-weight: 700;
  color: #000;
}

.all_faqs {
  padding: 30px 0;
}

.faq_unit {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px 0;
  overflow: hidden;
}


.accordion {
  color: #000;
  cursor: pointer;
  padding: 18px 25px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: background-color 0.3s ease;
  background-color: #fff;
  font-family: Corbert;
  position: relative;

}


.accordion::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 24px;
  transition: transform 0.3s ease;
  top: 10px;
}

.accordion.active::after {
  content: "-";
  color: #ca2734;
}


.panel {
  max-height: 0;
  overflow: hidden;
  font-family: Roboto;
  font-size: 18px;
  padding: 0 25px;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background: #fff;
}

.panel.open {
  max-height: 1000px; 
  padding: 15px 25px;
}


