.uper-links{
    padding: 10px 0;
    font-size: 16px;
    font-family: Corbert;
    color: #000;
}

.branding-hero{
    padding-top: 70px;
}

.talk-to-us-div{
    display: flex;
    justify-content: end;
    padding: 20px 0;
}

@media(max-width:767px){
    .talk-to-us-div{
        justify-content: start;
    }
}

.talk-to-us{
    background-color: #CA2734;
    font-family: "Roboto", Sans-serif;
    border-radius: 100px 100px 100px 100px;
    padding: 15px 25px 10px 25px;
    color: #fff;
    border: none;
}

.talk-to-us::after{
    content: '\2192';
    padding-left: 10px;
    font-weight: 300;
}

.branding-hero h1{
    font-size: 62px;
    color: #000;
    font-family: Corbert;
    font-weight: 700;
    padding:20px 0 0 0;
}

.branding-hero h3{
    font-size: 35px;
    color: #000;
    font-family: Corbert;
    font-weight: 500;
   
}

.branding-hero p{
         margin-top: 30px;
         color: #000000;
         line-height: 1.7em;
         font-size: 20px;
         font-family: Roboto;

}

/* Our Portfolio */

.portfolio{
    padding: 90px 0;
}


.portfolio h2{
    color: #000000;
    font-family: "Corbert", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
}

.every-pr{
    color:#CA2734
}
