/* CatalogueDesigning hero */
.catalogue-designing-hero {
  padding-top: 60px;
  padding-bottom: 60px;
}

.talk-to-us-div {
  display: flex;
  justify-content: end;
  padding: 20px 0;
}

.talk-to-us {
  background-color: #ca2734;
  font-family: "Roboto";
  border-radius: 100px 100px 100px 100px;
  padding: 10px 25px 10px 25px;
  color: #fff;
  border: none;
}

.fontAwesomeIcon-right-arrow {
  padding-left: 10px;
}

.catalogue-designing-hero h1 {
  font-size: 62px;
  color: #000;
  font-family: "Corbert";
  font-weight: 700;
}

.catalogue-designing-hero p {
  margin-top: 30px;
  color: #000000;
  line-height: 1.7em;
  font-size: 18px;
  font-family: "Roboto-Regular";
}

.talk-to-us-mobile {
  display: none;
}

.catalogue-designing-hero h3 {
  font-size: 35px;
  color: #000;
  font-family: Corbert;
  font-weight: 500;
}

@media (max-width: 767px) {
  .talk-to-us-div {
    justify-content: start;
  }

  .catalogue-designing-hero h1 {
    font-size: 40px;
  }
  .catalogue-designing-hero h3 {
    padding-top: 10px;
  font-size: 24px;
}

  .talk-to-us-div {
    display: none !important;
  }

  .catalogue-designing-hero p {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .talk-to-us-Laptop {
    display: none;
  }

  .talk-to-us-mobile {
    display: block;
  }
}

/* ejkndfjk */


.demoPage1{
    background-color: red;
}




/* The Protagonists  */

.cont {
  display: flex;
  flex-direction: column;
}

.appr-pro {
  padding-top: 80px;
  padding-bottom: 40px;
}

.appr-pro .appr-pro-main-head {
  font-size: 56px;
  font-family: "Corbert";
  font-weight: 700;
  padding-bottom: 15px;
}

.appr-pro-main-para {
  margin-top: 10px;
  color: #000000;
  line-height: 32px;
  font-size: 18px;
  width: 100%;
  font-family: "Roboto";
  margin-bottom: 40px;
}

.every-pr {
  color: #ca2734;
}

.app-pro-div-white {
  box-shadow: 0px 0px 2px 1px #d5d5d5;
}
.app-pro-div-gray {
  background-color: #f1f1f1;
  box-shadow: 0px 0px 1.16px 0px
    rgba(
      240.99999999999997,
      240.99999999999997,
      240.99999999999997,
      0.1803921568627451
    );
}
.app-pro-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 20px;
  border-radius: 10px;
  height: 100%;
}
.appr-pro-row-main {
  display: flex;
  flex-direction: row;
}

.app-pro-div h3 {
  padding-top: 110px;
  padding-bottom: 10px;
  font-size: 24px;
  font-family: "Corbert";
  font-weight: 500;
  color: #ca2734;
}

.app-pro-div p {
  font-size: 16px;
  line-height: 1.2em;
  font-weight: 300;
  font-family: "Roboto-Regular";
}

@media (max-width: 767px) {
  .appr-pro {
    padding-top: 40px;
  }
  .appr-pro h2 {
    font-size: 40px;
  }
  .appr-pro p {
    width: 100%;
  }
}


/* E-Catalogues */

.e-catalogues{
  padding: 50px 0;
}

.e-catalogues-left{
  background-color: #ca2734;
  border-radius: 10px;
  color: #ffffff;
  padding: 20px;
}

.e-catalogues-left h4{
  font-family: "Corbert";
  font-size: 18px;
  font-weight: 400;
}

.e-catalogues-left h3{
      color: #FFFFFF;
    font-family: "corbert bold", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
}

.e-catalogues-left p{
          color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    padding-top: 20px;
}

.e-catalogues-left-btn-div{
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.e-catalogues-left button{
      color: #000;
      background-color: #fff;
    font-family: "Corbert", Sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
}
.e-catalogues-right-row{
  margin-top: 20px;
}

.e-catalogues-right img{
      border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #CCCCCC;
    border-radius: 16px 16px 16px 16px;
}




