.faq-section {
  padding: 40px 0;
}

.accordion-item {
   box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 20px;
  overflow: hidden;
  transition: border-color 0.3s ease;
}

.accordion-item.open {
   box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
}

.accordion-link {
  width: 100%;
  color: #000;
  font-size: 1.1rem;
  padding: 1rem 1.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
  background-color: #fff;
}



.accordion-link h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.icon {
  color: #b794f4;
  font-size: 20px;
  transition: transform 0.3s ease;
}

.accordion-item.open .icon {
  transform: rotate(90deg);
}


.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.35s ease;
  opacity: 0;
}

.accordion-item.open .answer {
  opacity: 1;
}

.answer p {
  font-size: 15px;
  color: #000;
  padding: 1rem 1.5rem;
  margin: 0;
  line-height: 1.6;
}


