/* 

.form-box {
  border: 8px solid #ca2734;
  border-radius: 20px;
  padding: 40px;
}

.two-columns {
  display: flex;
  gap: 20px;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1.5px solid #d4d4d4;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #ca2734;
}

.color {
  color: #ca2734;
}


.submit-btn {
  width: 100%;
  padding: 16px;
  background: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
} */




.inpt label{
    font-family: "Corbert", Sans-serif;
        cursor: pointer;
        color: #000;
        font-size: 16px;
        font-weight:400;
}

.inpt label span{
  color: #ca2734;
}

.inpt input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ADADAD;
  border-radius: 12px;
  font-family: "Roboto", Sans-serif;
  padding: 10px;
  font-size: 14px;
  margin:10px 0px;
}
.inpt textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ADADAD;
  border-radius: 12px;
  font-family: "Roboto", Sans-serif;
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
}


.inpt input::placeholder,
.inpt textarea::placeholder {
  color: #ADADAD;
  opacity: 1;
  font-family: "Roboto", Sans-serif;
}

.sbmt-btn {
  width: 100%;
  padding: 16px;
  background: black;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
} 

.form-box{
  padding: 0px;
  border: 10px solid #ca2734;
  background-color: #ca2734;
  margin: 0;
}

.main-form{
  border-radius: 16px;
  background-color: #fff;
  padding: 20px;
}


.form-left-content{
  border-right: 10px solid #ca2734;
  border-top: 10px solid #ca2734;
  border-bottom: 10px solid #ca2734;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

.form-main-content{
  background-color: #000;
  border-radius: 16px;
  padding: 40px;
  height: 100%;
  width: 100%;
}
