
.hero .container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

.hero .col {
  flex: 1;
  min-width: 300px;
}

.left-hero{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
  font-size: 56px;
  font-weight: bold;
  font-family: Corbert;
  color: #000;
  margin-bottom: 20px;
}

.hero p {
  width: 70%;
  color: #666;
  font-size: 18px;
  margin-bottom: 30px;
}

.hero button {
  padding: 14px 60px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right: 15px;
}

.hero button:first-child {
  background-color: #d62828;
  color: white;
}

.hero button:first-child:hover {
  background-color: #b71c1c;
}

.hero button:last-child {
  background-color: #000;
  color: white;
}

.hero button:last-child:hover {
  background-color: #333;
}

.hero img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 992px) {
  .hero .container {
    flex-direction: column;
  }

  .hero h1 {
    font-size: 2.3rem;
  }

  .hero img {
    margin-top: 30px;
  }

  .hero button{
    margin:5px;
  }

  .hero{
    margin-top:30px;
  }
}






/*............ */
.our-constant-companions{
  margin-top: 100px;
}
.companies img{
  width: 150px;
  margin:10px;
  border-radius:8px;
  padding: 0px;
    transition: filter 0.5s ease; /* smooth transition */
    filter: grayscale(100%) brightness(0); /* black color effect */
}

.companies img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: #000 0px 4px 15px -5px;
  filter: none;
}
