@font-face {
  font-family: 'Corbert';
  src: url('../fonts/Corbert-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Corbert';
  src: url('../fonts/Corbert-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
