
.our-constant-companions {
  margin-top: 100px;
}
.companies img {
  width: 150px;
  margin: 10px;
  border-radius: 8px;
  padding: 0px;
  transition: filter 0.5s ease;
  filter: grayscale(100%) brightness(90%);
}

.companies {
  margin-top: 20px;
}

.companies img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.1);
  filter: none;
}
