
.service-hero{
    padding-top: 60px;
}

.talk-to-us-div{
    display: flex;
    justify-content: end;
    padding: 20px 0;
}
.talk-to-us{
    background-color: #CA2734;
    font-family: "Roboto", Sans-serif;
    border-radius: 100px 100px 100px 100px;
    padding: 15px 25px 10px 25px;
    color: #fff;
    border: none;
}

.fontAwesomeIcon-right-arrow{
  padding-left: 10px;
}

.service-hero h1{
    font-size: 62px;
    color: #000;
    font-family: "Corbert";
    font-weight: 700;
}

.service-hero p{
         margin-top: 30px;
         color: #000000;
         line-height: 1.7em;
         font-size: 18px;
         font-family: "Roboto-Regular";
}


@media(max-width:767px){
    .talk-to-us-div{
        justify-content: start;
    }

    .service-hero h1{
    font-size: 40px;
}

.talk-to-us-div{
    display: flex;
    justify-content: end;
    padding: 10px 0;
}
.service-hero p{
         margin-top: 20px;
}
}


/* our services */

.our-service{
    padding:100px 0px;
}

.our-service h2{
    color: #000000;
    font-family: "Corbert", Sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2em;
}

.our{
    color:#ca2734;
    font-size:62px;
    font-family: "Corbert";
    font-weight: 700;
}




.service-card {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.2);
}

.service-card .front {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: transform 0.4s ease;
  padding: 20px;
}

.front img{
    height: 360px;
    width: 100%;
    border:2px solid grey;
    border-radius:20px;
}

.front h3{
    color:black;
      padding:20px 0px 8px 10px;
      font-size:25px;
      font-family:"Corbert";
      font-weight:500;
      margin: 0px;
      
}

.front p{
     color:black;
      padding:0px 0px 10px 10px;
      font-size:26px;
      font-family:"Corbert";
      font-weight:500;
      margin: 0px;
      padding-bottom: 10px;
}

.service-card .back {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background:#ca2734;
  color: white;
  transition: bottom 0.6s ease;
}

.service-card:hover .front {
  transform: translateY(-100%);
}

.service-card:hover .back {
  bottom: 0;
}

.hr{
    height: 3px;
    background-color: #fff;
    
}

.back-up{
    padding: 50px 30px;
}

.back-up h3{
    color:#fff;
      padding:20px 0px 8px 10px;
      font-size:25px;
      font-family:"Corbert";
      font-weight:500;
      margin: 0px;
      
}

.back-up p{
     color:#fff;
      padding:0px 0px 10px 10px;
      font-size:26px;
      font-family:"Corbert";
      font-weight:500;
      margin: 0px;
      padding-bottom: 10px;
}

.back-down{
    color:White;
      padding:20px 0px 8px 10px;
      font-size:20px;
      font-family:"Corbert";
      font-weight:500;
      margin: 0px;
}

.page-linking{
     color:White!important;
      position: relative;
      text-decoration: none;
 }
 
.page-linking::after {
  content: "";
  position: absolute;
  top:30px;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s ease;
}

.page-linking:hover::after {
  width: 100%;
}

@media(max-width:767px){
    .our-service h2{
    font-size: 35px;
}
.our{
    font-size: 45px;
}

.front img{
    height: 260px;
}

.service-card{
    height: 400px;
    margin: 20px 0;
}
}



/*  Approach project  */

.appr-pro{
    padding-top: 100px;
}

.appr-pro h2{
    font-size: 56px;
    font-family: "Corbert";
    font-weight: 700;
}

.appr-pro p{
     margin-top: 10px;
         color: #000000;
         line-height: 32px;
         font-size: 18px;
         width: 100%;
         font-family: "Roboto";
}
.every-pr{
    color:#ca2734;
}

.app-pro-div{
    display: flex;
    flex-direction: column;
     justify-content: flex-end;
    height: 320px;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px #D5D5D5;
}


.app-pro-div h3{
    font-size: 24px;
    font-family: "Corbert";
    font-weight: 500;
    color:#ca2734;

}

.app-pro-div p{
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 300;
    font-family: "Roboto-Regular";
}

.bg-app{
    background-color: #F1F1F1;
}


@media(max-width:767px){
    .appr-pro{
    padding-top: 40px;
}

.appr-pro h2{
    font-size: 40px;
}

.appr-pro p{
    width: 100%;
}
 
}



/* top-cap */

.top-cap{
    padding: 80px 0;
}

.top-cap h2{
    font-size: 56px;
    font-family: "Corbert";
    font-weight: 700;
}
.top-cap p{
        color: #000000;
    font-family: "Roboto-Regular", Sans-serif;
    font-size: 16px;
    line-height: 1.4em;
}

.top-cap-div{
        box-shadow: 0px 2px 11px -1px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 400px;
    transition: all 0.6s ease;
    border-radius: 20px;
    cursor: pointer;
}

.top-cap-btm{
    position: absolute;
    bottom: 0;
    transition: all 0.6s ease;
    padding: 20px;
}

.top-cap-main-div{
    transition: all 0.6s ease;
}

.headg{
    padding: 50px 0;
}



.top-cap-back-content{
    opacity: 0;
    color: #fff; 
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
}

.top-cap-back-content p{
    color: #fff;
}

.top-cap-main-div:hover{
      .cap-img{
        opacity: 0;
      }
      .top-cap-btm{
        opacity: 0;
      }
      .top-cap-div{
        background-color: #ca2734;
      }
      .top-cap-back-content{
    opacity: 1;
}   
}

@media(max-width:767px){
  .top-cap h2{
    font-size: 40px;
}
.headg{
    padding: 30px 0;
}
}

/* Our Work */

.our-work-tab h2{
    font-size: 56px;
    font-family: "Corbert";
    font-weight: 700;
}

 /* tabs our work */
.tab {
  overflow: hidden;
  margin-bottom: 20px;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 22px;
  font-family: "Corbert";
}


.tab button:hover {
  color: #ca2734;
}


.tab button.active {
  color: #ca2734;
}


.tabcontent {
  padding: 6px 12px;
}

.tab-img{
    margin: 8px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #D8D5D5;
    border-radius: 8px 8px 8px 8px;
}

.explore-more button{
    
        background-color: #CA2734;
    font-family: "Roboto-Regular", Sans-serif;
    border-radius: 100px 100px 100px 100px;
    padding: 15px 50px 15px 50px;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 400;
}

@media(max-width:767px){
  .our-work-tab h2{
    font-size: 40px;
}
.tab button{
  font-size: 18px;
}


.explore-more button{
  font-size: 16px;
  padding: 12px 40px 12px 40px;
}
}


/* faqs */
.faqs {
  padding: 80px 0;
}

.faqs h2 {
  font-size: 56px;
  font-family: "Corbert";
  font-weight: 700;
  color: #000;
}



.faq_unit {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px 0;
  overflow: hidden;
}


.accordion {
  color: #000;
  cursor: pointer;
  padding: 18px 25px;
  width: 100%;
  border: none;
  border-radius: 10px;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: background-color 0.3s ease;
  background-color: #fff;
  font-family: "Corbert";
  position: relative;

}


.accordion::after {
  content: "+";
  position: absolute;
  right: 20px;
  font-size: 24px;
  transition: transform 0.3s ease;
  top: 10px;
}

.accordion.active::after {
  content: "-";
  color: #ca2734;
}


.panel {
  max-height: 0;
  overflow: hidden;
  font-family: "Roboto-Regular";
  font-size: 18px;
  padding: 0 25px;
  transition: max-height 0.4s ease, padding 0.4s ease;
  background: #fff;
}

.panel.open {
  max-height: 1000px; 
  padding: 15px 25px;
}

@media(max-width:767px){
  .faqs h2 {
  font-size: 40px;
}
}
